@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

*::before,
*,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  background: rgb(48, 16, 255)
}
.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 2rem;
  color: white;
  width: 60vw;
}
.innerParent {
  margin: 50px;
}
.todos{
  display: block;
}
